.info-table {
  tr {
    border-bottom: 2px solid gray;
    transition: all 0.2s ease;
    &:hover {
      background-color: #ffd2b8;
    }
  }
  td {
    padding: 1rem;
  }
  td:nth-child(2n + 1) {
    width: 20%;
  }
  td:nth-child(2n) {
    width: 80%;
  }
}
